.form-side__form-container {
    width: 100%;
    max-width: 304px;
    min-height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 36px 0 20px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}