.body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #4353FF;
    align-items: center;
    height: 100vh;
}

.day{
    position: absolute;
    top: 5px;
    right: auto;
    left: auto;
    margin: 0;
    font-family: Roboto;
    font-size: 96px;
    line-height: 112px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.05);
    z-index: -1;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4353FF;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    z-index: 2;
}

.menu__avatar {
    width: 62px;
    height: 62px;
    margin: 23px auto 15px;
}

.menu__name {
    margin: 0;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFF;
}

.menu__job-position {
    margin: 0 0 15px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #FFF;
}

.menu__plan {
    margin: 0 0 19px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #FFF;
}

.menu__plan_upper {
    text-transform: uppercase;
}

.menu__items {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
}

.menu__item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 200px;
    height: 58px;
    padding: 20px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    opacity: .4;
}

.menu__item_active{
    opacity: 1;
    background:rgba(255, 255, 255, 0.4);
    font-size: 20px;
    font-weight: bold;
    border-right: 5px solid #fff;
}

.menu__icon {
    margin-right: 24px;
    width: 23px;
}

.menu__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    padding: 7px;
    border: 1px solid #FFFFFF;
    background: none;
    filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.menu__button-icon {
    margin-right: 10px;
}

.page {
   /* display: flex;
    flex-direction: column;
    gap: 30px;*/
    max-width: 1240px;
    margin: 23px 0 23px -20px;
    padding: 40px 60px;
    background-color: #fff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.page__section{
    display: flex;
    flex-wrap: wrap;
    gap: 30px 40px;
    margin-bottom: 30px;    
}

.page__title {
    width: 100%;
    margin: 0;
    font-family: Roboto;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #4353FF;
}

.page__input-wrapper {
    display: flex;
    align-items: center;
    width: 350px;
    height: 51px;
    border: 1px solid rgba(67, 83, 255, 0.4);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.page__input-wrapper_type_checkbox {
    display: flex;
    justify-content: space-between;
    border: none;
    box-shadow: none;
}

.page__input-wrapper_size_l{
    width: 732px;
}

.page__label {
    padding: 16px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    white-space: nowrap;
    color: rgba(67, 83, 255, 0.25);
    border-right: 1px solid rgba(67, 83, 255, 0.4);;
}

.page__label_type_checkbox {
    color: #4353FF;
    border: none;
}

.page__input {
    width: 100%;
    padding: 16px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #4353FF;
    border: none;
    background: none;
}

.page__input::placeholder {
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #4353FF;
    border: none;
}

.page__tip {
    max-width: 276px;
    height: 25px;
    margin-left: 10px;
    border-left: 1px solid rgba(67, 83, 255, 0.3);
    padding-left: 50px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #E0E0E0;
}

.page__textarea-wrapper{
    width: 732px;
    height: 133px;
}

.page__textarea{    
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 0;
    border: 1px solid rgba(67, 83, 255, 0.4);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: none;

    padding: 16px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #4353FF;
    resize: none;
}

.page__textarea::placeholder {
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    border: none;
    color: rgba(67, 83, 255, 0.25);
}