.page__input {
    width: 100%;
    padding: 16px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #4353FF;
    border: none;
    background: none;
    outline: none;
}

.page__input::placeholder {
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #4353FF;
    border: none;
}