.card {
    position: relative;
    width: 270px;
    height: 275px;
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.3));
    transition: all .3s ease-in-out;
    backface-visibility: hidden;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(67, 83, 255, 0.5);
}