.card__menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4353FF;
    border-radius: 0 0 5px 5px;
}