.card__active-text {
    position: absolute;
    top: 50%;
    margin: 0 30px 0 0;
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
    color: #4353FF;
    text-decoration: none;
}