.slider{
    background: url(../../assets/images/coffee.jpg);
    flex-basis: 600px;
    border-radius: 5px 0 0 5px;
    position: relative;
    z-index: 1;
}

.slider::before {
    content: '';
    background: rgba(51, 51, 51, 0.7);
    border-radius: 5px 0 0 5px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}